.host {
  text-align: center;
}

.button {
  padding: 8px;
  font-size: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;

}

.spinner {
  // Just hide it on mobile
  display: none;
  position: absolute;
  left: calc(100% + 16px);

  @media (min-width: 700px) {
    display: block;
  }
}

.help {
  display: inline-block;
  margin: 16px 0;
  text-align: center;
  color: #0000EE;
  text-decoration: underline;
}
